<style>
    th, td {
  padding-left: 15px;
}
</style>

{% if session.username %}
<title>{{ session.username }}</title> 
<p>
    You're logged in as {{ session.username }}
<p><a href="/logout"> log out</a></p>
<p>
<a href="/add_restaurant">add restaurant</a>

<h2>Restaurants</h2>
{% if not restaurants %}
You don't have any restaurants yet. <a href="/add_restaurant">Add?</a>
{% else %}
<table>
    <tr><th>restaurant</th><th>location</th><th>price</th><th>category</th></tr>
    {% for restaurant in restaurants %}
        <tr><td><b> {{ restaurant.name }} </b></td>
        <td> {{ restaurant.city }}</td>
        <td>{% for i in range(restaurant.price) %}
            €
            {% endfor %}
        </td>
        <td>{{ restaurant.category }}</td>
        <form action="/delete_restaurant/{{ restaurant.id }}" method=POST>
            <td><input type="submit" value="delete"></td>
        </form></tr>
    {% endfor %}
</table>
{% endif %}
</p>

{% else %}
error

{% endif %}
