<style>
    th, td {
  padding-left: 15px;
}
</style>

{% if session.username %}
<title>{{ session.username }}</title> 
<p>
    You're logged in as {{ session.username }}
<p><a href="/logout"> Log out</a></p>
<p>
<h2>Restaurants</h2>
<table>
    <tr><th>restaurant</th><th>location</th><th>price</th><th>category</th></tr>
    {% for restaurant in restaurants %}
        <tr><td><a href="/restaurant_page/{{ restaurant.id }}"> {{ restaurant.name }}</a></td>
        <td> {{ restaurant.city }}</td>
        <td>{% for i in range(restaurant.price) %}
            €
            {% endfor %}
        </td>
        <td>{{ restaurant.category }}</td></tr>
    {% endfor %}
</table>
</p>

<h2> Your lists:</h2>
{% if not lists %}
You don't have any lists yet. 
<a href="/create_list">Add?</a>
{% else %}
{% for list in lists %}
    <a href="/list_page/{{ list.id }}">{{ list.name }}</a><br>
{% endfor %}
{% endif %}
<br><a href="/create_list">Create a new list</a>

{% else %}
error

{% endif %}
